@model EventManager.Web.ViewModels.EventViewModel

@using (Html.BeginForm("EditEvent", "Home", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        <input name="Name" value="@Model.Name" class="form-control" />
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        <input name="Location" value="@Model.Location" class="form-control" />
        @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Starting Date: <input name="PreviousStartDate" value="@Model.StartDate" /></label><br />
        <span>Enter new Starting Date:</span>
        <input name="StartDate" value="@Model.StartDate" type="datetime-local" class="form-control" />
        @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Starting Date: <input name="PreviousEndDate" value="@Model.EndDate" /></label><br />
        <span>Enter new Ending Date:</span>
        <input name="EndDate" value="@Model.EndDate" type="datetime-local" class="form-control" />
        @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Edit Event</button>
        <a class="btn btn-default" href="@Url.Action("Index","Home")">Cancel</a>
    </div>
}

